<form (ngSubmit)="onClickSubmit(cities.value)" ngForm #frm style="margin:0 auto;">
  <div><h1>Xtramile Weather Web</h1></div>
  <br />
  <br />
  <br />
  <mat-form-field>
    <mat-select placeholder="Countries" (selectionChange)="fillCities($event.value)" disableOptionCentering panelClass="myPanelClass">
      <mat-option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <br />
  <mat-form-field>
    <mat-select placeholder="Cities" id="city" name="city" [formControl]="city" >
      <mat-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <input type = "submit" value = "Submit">
  <br />
  <br />
  <div class="form-group">
    <label for="name">Location</label>
    <input type="text" class="form-control" id="location" value="{{ weatherResponse.name }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Time</label>
    <input type="text" class="form-control" id="time" value="{{ weatherResponse.time | date : 'HH:mm:ss':'GMT' }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Wind</label>
    <input type="text" class="form-control" id="speed" value="Speed : {{ weatherResponse.wind?.speed }}" disabled = "true">
    <input type="text" class="form-control" id="deg" value="Deg : {{ weatherResponse.wind?.deg }}" disabled = "true">
    <input type="text" class="form-control" id="gust" value="Gust : {{ weatherResponse.wind?.gust }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Visibility</label>
    <input type="text" class="form-control" id="visibility" value="{{ weatherResponse.visibility }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Temperature (in Celcius)</label>
    <input type="text" class="form-control" id="tempc" value="{{ weatherResponse.main?.tempC }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Temperature (in Fahrenheit)</label>
    <input type="text" class="form-control" id="tempf" value="{{ weatherResponse.main?.tempF }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Dew Point (in Celcius)</label>
    <input type="text" class="form-control" id="dewPoint" value="{{ weatherResponse.main?.dewPoint }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Relative Humidity</label>
    <input type="text" class="form-control" id="humidity" value="{{ weatherResponse.main?.humidity }}" disabled = "true">
  </div>
  <br />
  <div class="form-group">
    <label for="name">Pressure</label>
    <input type="text" class="form-control" id="pressure" value="{{ weatherResponse.main?.pressure }}" disabled = "true">
  </div>
</form>